[env]
TERM = "xterm-256color" 
COLORTERM = "truecolor"

[window]
padding = { x = 5, y = 5 }
decorations = "None"
startup_mode = "Maximized"

[font]
normal = { family = "Hack Nerd Font", style = "Regular" }
size = 15

# GitHub Dark High Contrast 테마
[colors.primary]
background = '#0a0c10'
foreground = '#f0f3f6'

[colors.cursor]
text = '#0a0c10'
cursor = '#f0f3f6'

[colors.normal]
black = '#7a828e'
red = '#ff9492'
green = '#26cd4d'
yellow = '#f0b72f'
blue = '#71b7ff'
magenta = '#cb9eff'
cyan = '#39c5cf'
white = '#d9dee3'

[colors.bright]
black = '#9ea7b3'
red = '#ffb1af'
green = '#4ae168'
yellow = '#f7c843'
blue = '#91cbff'
magenta = '#cb9eff'
cyan = '#39c5cf'
white = '#d9dee3'

[cursor]
style = { shape = "Block", blinking = "On" }

[terminal]
osc52 = "CopyPaste"  # 클립보드 복사/붙여넣기 활성화

[terminal.shell]
program = "tmux"
args = ["new-session", "-A", "-s", "main"]

[mouse]
hide_when_typing = true

[selection]
save_to_clipboard = true

[keyboard]
bindings = [
    { key = "V", mods = "Control|Shift", action = "Paste" },
    { key = "C", mods = "Control|Shift", action = "Copy" },
    { key = "Equals", mods = "Control", action = "IncreaseFontSize" },
    { key = "Minus", mods = "Control", action = "DecreaseFontSize" },
    { key = "L", mods = "Control|Shift", chars = "\u000C" },
]

[scrolling]
history = 50000