[user]
	email = kangmin5505@gmail.com
	name = kangmin
[core]
	editor = vim
	pager = delta
[i18n]
	commitEncoding = utf-8
	logOutputEncoding = utf-8
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	paging = always
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
[diff]
        tool = default-difftool
[difftool "default-difftool"]
        cmd = code --wait --diff $LOCAL $REMOTE
[commit]
	verbose = true
